<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
  <div class="container">
    <main>
      <div class="content">
        <section class="intro">
          <h1>Dashboard - <%= bulkSend.subject %></h1>
          <p>Total Emails: <%= bulkSend.totalEmails %></p>
          <p>Sent Emails: <%= bulkSend.sentEmails %></p>
          <p>Failed Emails: <%= bulkSend.failedEmails %></p>

          <% if (bulkSend.failedEmailList && bulkSend.failedEmailList.length > 0) { %>
            <h2>Failed Emails:</h2>
            <ul>
              <% bulkSend.failedEmailList.forEach(function(email) { %>
                <li><%= email %></li>
              <% }); %>
            </ul>
          <% } %>

          <h2>Email Statuses:</h2>
          <ul>
            <% emailStatuses.forEach(function(status) { %>
              <li><%= status.email %> - <%= status.status %> <% if (status.status === 'bounced') { %>(Bounced at <%= status.bouncedAt %>)<% } %></li>
            <% }); %>
          </ul>
        </section>
      </div>
      <%- include('./partials/footer.ejs') %>
    </main>
  </div>
</body>
</html>