<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <main>
            <div class="content">
                <section class="intro text-center">
                    <h1>Dashboard Overview</h1>
                    <ul class="dashboard-list">
                        <% records.forEach(function(record) { %>
                            <li class="card" data-url="/dashboard/<%= record._id %>">
                                <div>
                                    <h2><%= record.subject %></h2>
                                    <p>Sent on: <%= record.sentAt.toLocaleString() %></p>
                                </div>
                                <button class="btn delete-btn">Delete</button>
                            </li>
                        <% }); %>
                    </ul>
                </section>
            </div>
            <%- include('./partials/footer.ejs') %>
        </main>
    </div>

    <script src="js/main.js"></script> 
</body>
</html>
